* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 0;
    height: auto;
}

label {
    font-size: 1rem;
    color: white;
    width: 300px;
    font-family: 'Poppins', sans-serif;
}

#topSectionContainer p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 1000px;
}

select {
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    font-family: 'IBM Plex Mono', monospace;
}

h1, h2, h3 {
    font-family: 'Syncopate', sans-serif;
}

h1 {
    font-size: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

button {
    font-family: 'IBM Plex Mono', monospace;
}

#topSectionContainer {
    background-image: url(topSectionImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#resultsContainer {
    display: flex;
    height: 100vh;
}

#searchResultContainer {
    width: 50%;
    background-color: #3a48d8;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

#movieDetails {
    width: 50%;
    text-align: center;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.imageContainer {
    width: 40%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#poster {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Adjust the height to control the amount of fading */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}


#randomise, #submit {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    position: relative;
}

#randomise:hover, #submit:hover {
    box-shadow: 0 0 10px #f5061c, 0 0 20px #f5061c, 0 0 30px #f5061c, inset 0 0 10px #f5061c, inset 0 0 20px #f5061c;
    border: solid 1px #f5061c;
    transform: scale(1.05);
}

::selection {
    background-color: #f5061c; /* Change the background color of the selection */
    color: #fff;
}

#resultsBox {
    background-color: #3a48d8;
    padding: 20px;
}

#resultsBox p {
    padding: 10px;
}

/* CSS for the button container */
.movie-info-button-container {
    width: 100%;
    text-align: left;
    margin-top: 10px; /* Optional: Add some space between buttons */
  }
  
  .more-info-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  #movieDetails {
    padding: 20px;
  }

  #resultsNumber {
    text-align: center;
  }